# Node.js dependencies
node_modules/*

# Environment variables
.env

# IDE/editor settings
.vscode/
.idea/

# images
public/uploads/workshop/*
public/uploads/coffee/*
public/uploads/item/*

# Others
npm