# Node.js dependencies
node_modules/*

# Environment variables
.env

# IDE/editor settings
.vscode/
.idea/

# images
public/uploads/workshop/*
!public/uploads/workshop/.gitkeep
public/uploads/coffee/*
!public/uploads/coffee/.gitkeep
public/uploads/course/*
!public/uploads/course/.gitkeep
public/uploads/item/*
!public/uploads/item/.gitkeep
public/uploads/accessory/*
!public/uploads/accessory/.gitkeep
public/uploads/grinder/*
!public/uploads/grinder/.gitkeep
public/uploads/teammate/*
!public/uploads/teammate/default/
!public/uploads/teammate/default/**

# Others
npm